html {
    background: url('./assets/images/Solitaire-Game-Background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-width: 1920px;
    max-height: 1200px;
    overflow: hidden;
}

.header{
    /* display: flex; */
    width: 800px;
    height: 220px;
    margin: auto;
    /* border: 1px solid #ccc; */
}

/* div[id^="stack"]{
    justify-self: center;
    display:flex;
    width: 150px;
    height: 200px;
    margin: .75rem;
}

#cardHand{
    display: flex;
    align-content: space-between;
    flex-direction: row;
    margin: auto;
} */

#rowB{
    background-image: url('/assets/images/cards/BlueCardBack.png');
    width:150px;
    height: 200px;
    background-color: rgba(255, 255, 255, .25);
    margin: .5rem;
}

#rowA{
    width:150px;
    height: 200px;
    background-color: rgba(255, 255, 255, .25);
    margin: .5rem;
}

footer {
    position: absolute !important;
    padding: 2rem;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/ 
    height: 40px;
    background: rgba(50, 50, 50, .10);
    margin:auto;
    align-self: center;
}
